/** 
* ===================================================
* The following CSS is a modern version on Reset CSS.
* ===================================================
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/** 
* ===================================================
* Custom CSS from here.
* ===================================================
*/

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

nav {
  background: linear-gradient(
    40deg,
    rgba(255, 105, 0, 0.7) 5%,
    rgba(0, 208, 132, 0.7) 95%
  );
}

/* Bootstrap variables override */
:root {
  --bs-body-bg: #f0f0f0;
  --bs-body-bg-rgb: rgb(240, 240, 240);
}

/* Disable spin buttons on number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Animate footer svg */
.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,400 C 0,400 0,100 0,100 C 103.29186602870817,109.96172248803828 206.58373205741634,119.92344497607655 290,122 C 373.41626794258366,124.07655502392345 436.956937799043,118.26794258373207 540,123 C 643.043062200957,127.73205741626793 785.5885167464115,143.00478468899522 888,136 C 990.4114832535885,128.99521531100478 1052.688995215311,99.71291866028709 1138,90 C 1223.311004784689,80.28708133971291 1331.6555023923445,90.14354066985646 1440,100 C 1440,100 1440,400 1440,400 Z"
    );
  }

  25% {
    d: path(
      "M 0,400 C 0,400 0,100 0,100 C 88.96650717703349,96.19138755980862 177.93301435406698,92.38277511961724 262,88 C 346.066985645933,83.61722488038276 425.23444976076564,78.6602870813397 529,90 C 632.7655502392344,101.3397129186603 761.1291866028706,128.97607655502392 869,125 C 976.8708133971294,121.02392344497608 1064.2488038277513,85.43540669856459 1156,76 C 1247.7511961722487,66.56459330143541 1343.8755980861242,83.28229665071771 1440,100 C 1440,100 1440,400 1440,400 Z"
    );
  }

  50% {
    d: path(
      "M 0,400 C 0,400 0,100 0,100 C 109.51196172248802,89.86602870813397 219.02392344497605,79.73205741626793 311,77 C 402.97607655502395,74.26794258373207 477.4162679425838,78.9377990430622 559,84 C 640.5837320574162,89.0622009569378 729.311004784689,94.51674641148325 844,91 C 958.688995215311,87.48325358851675 1099.3397129186606,74.99521531100478 1203,75 C 1306.6602870813394,75.00478468899522 1373.3301435406697,87.50239234449761 1440,100 C 1440,100 1440,400 1440,400 Z"
    );
  }

  75% {
    d: path(
      "M 0,400 C 0,400 0,100 0,100 C 106.88038277511961,95.02392344497608 213.76076555023923,90.04784688995217 312,85 C 410.2392344497608,79.95215311004783 499.8373205741626,74.83253588516746 577,71 C 654.1626794258374,67.16746411483254 718.88995215311,64.622009569378 816,79 C 913.11004784689,93.377990430622 1042.6028708133972,124.67942583732057 1152,131 C 1261.3971291866028,137.32057416267943 1350.6985645933014,118.66028708133972 1440,100 C 1440,100 1440,400 1440,400 Z"
    );
  }

  100% {
    d: path(
      "M 0,400 C 0,400 0,100 0,100 C 103.29186602870817,109.96172248803828 206.58373205741634,119.92344497607655 290,122 C 373.41626794258366,124.07655502392345 436.956937799043,118.26794258373207 540,123 C 643.043062200957,127.73205741626793 785.5885167464115,143.00478468899522 888,136 C 990.4114832535885,128.99521531100478 1052.688995215311,99.71291866028709 1138,90 C 1223.311004784689,80.28708133971291 1331.6555023923445,90.14354066985646 1440,100 C 1440,100 1440,400 1440,400 Z"
    );
  }
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 94.07655502392345,179.63636363636363 188.1531100478469,159.27272727272728 290,168 C 391.8468899521531,176.72727272727272 501.46411483253587,214.54545454545456 588,234 C 674.5358851674641,253.45454545454544 737.9904306220095,254.54545454545456 844,237 C 950.0095693779905,219.45454545454544 1098.5741626794259,183.27272727272728 1205,174 C 1311.4258373205741,164.72727272727272 1375.712918660287,182.36363636363637 1440,200 C 1440,200 1440,400 1440,400 Z"
    );
  }

  25% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 73.28229665071771,214.4688995215311 146.56459330143542,228.9377990430622 247,222 C 347.4354066985646,215.0622009569378 475.02392344497594,186.7177033492823 594,185 C 712.9760765550241,183.2822966507177 823.3397129186604,208.19138755980865 908,218 C 992.6602870813396,227.80861244019135 1051.6172248803828,222.51674641148324 1136,217 C 1220.3827751196172,211.48325358851676 1330.1913875598086,205.74162679425837 1440,200 C 1440,200 1440,400 1440,400 Z"
    );
  }

  50% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 74.03827751196172,205.61722488038276 148.07655502392345,211.23444976076556 244,221 C 339.92344497607655,230.76555023923444 457.73205741626793,244.67942583732057 562,235 C 666.2679425837321,225.32057416267943 756.9952153110048,192.04784688995218 857,190 C 957.0047846889952,187.95215311004782 1066.2870813397128,217.1291866028708 1165,224 C 1263.7129186602872,230.8708133971292 1351.8564593301435,215.4354066985646 1440,200 C 1440,200 1440,400 1440,400 Z"
    );
  }

  75% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 114.3732057416268,181.5023923444976 228.7464114832536,163.00478468899522 324,166 C 419.2535885167464,168.99521531100478 495.38755980861254,193.48325358851676 585,209 C 674.6124401913875,224.51674641148324 777.7033492822966,231.0622009569378 878,226 C 978.2966507177034,220.9377990430622 1075.799043062201,204.26794258373207 1169,198 C 1262.200956937799,191.73205741626793 1351.1004784688994,195.86602870813397 1440,200 C 1440,200 1440,400 1440,400 Z"
    );
  }

  100% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 94.07655502392345,179.63636363636363 188.1531100478469,159.27272727272728 290,168 C 391.8468899521531,176.72727272727272 501.46411483253587,214.54545454545456 588,234 C 674.5358851674641,253.45454545454544 737.9904306220095,254.54545454545456 844,237 C 950.0095693779905,219.45454545454544 1098.5741626794259,183.27272727272728 1205,174 C 1311.4258373205741,164.72727272727272 1375.712918660287,182.36363636363637 1440,200 C 1440,200 1440,400 1440,400 Z"
    );
  }
}

.path-2 {
  animation: pathAnim-2 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-2 {
  0% {
    d: path(
      "M 0,400 C 0,400 0,300 0,300 C 107.44497607655498,290.22966507177034 214.88995215310996,280.4593301435407 313,279 C 411.11004784689004,277.5406698564593 499.88516746411494,284.39234449760767 584,294 C 668.1148325358851,303.60765550239233 747.5693779904307,315.9712918660287 852,324 C 956.4306220095693,332.0287081339713 1085.8373205741627,335.72248803827756 1188,331 C 1290.1626794258373,326.27751196172244 1365.0813397129186,313.1387559808612 1440,300 C 1440,300 1440,400 1440,400 Z"
    );
  }

  25% {
    d: path(
      "M 0,400 C 0,400 0,300 0,300 C 72.55502392344496,308.2775119617225 145.11004784688993,316.555023923445 250,314 C 354.8899521531101,311.444976076555 492.11483253588517,298.05741626794253 597,298 C 701.8851674641148,297.94258373205747 774.4306220095694,311.2153110047847 856,308 C 937.5693779904306,304.7846889952153 1028.1626794258373,285.0813397129187 1127,281 C 1225.8373205741627,276.9186602870813 1332.9186602870814,288.4593301435407 1440,300 C 1440,300 1440,400 1440,400 Z"
    );
  }

  50% {
    d: path(
      "M 0,400 C 0,400 0,300 0,300 C 91.46411483253587,322.4019138755981 182.92822966507174,344.80382775119614 278,329 C 373.07177033492826,313.19617224880386 471.7511961722488,259.1866028708134 580,264 C 688.2488038277512,268.8133971291866 806.0669856459331,332.44976076555025 900,335 C 993.9330143540669,337.55023923444975 1063.980861244019,279.0143540669857 1150,263 C 1236.019138755981,246.98564593301435 1338.0095693779904,273.49282296650716 1440,300 C 1440,300 1440,400 1440,400 Z"
    );
  }

  75% {
    d: path(
      "M 0,400 C 0,400 0,300 0,300 C 108.90909090909093,288.96650717703346 217.81818181818187,277.933014354067 301,282 C 384.18181818181813,286.066985645933 441.6363636363636,305.2344497607655 540,304 C 638.3636363636364,302.7655502392345 777.6363636363636,281.1291866028709 889,283 C 1000.3636363636364,284.8708133971291 1083.818181818182,310.24880382775115 1171,317 C 1258.181818181818,323.75119617224885 1349.090909090909,311.87559808612446 1440,300 C 1440,300 1440,400 1440,400 Z"
    );
  }

  100% {
    d: path(
      "M 0,400 C 0,400 0,300 0,300 C 107.44497607655498,290.22966507177034 214.88995215310996,280.4593301435407 313,279 C 411.11004784689004,277.5406698564593 499.88516746411494,284.39234449760767 584,294 C 668.1148325358851,303.60765550239233 747.5693779904307,315.9712918660287 852,324 C 956.4306220095693,332.0287081339713 1085.8373205741627,335.72248803827756 1188,331 C 1290.1626794258373,326.27751196172244 1365.0813397129186,313.1387559808612 1440,300 C 1440,300 1440,400 1440,400 Z"
    );
  }
}

.player-card {
  background: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgba(167, 120, 80, 0.5)
    ),
    url("/assets/img/pattern.jpg") repeat;
  width: 280px;
  height: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
}

.player-card:hover {
  transform: scale(1.05);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.player-infos {
  display: grid;
  align-items: center;
  grid-template-columns: 40px 1fr 45px;
  padding: 1rem;
  gap: 1rem;
  background: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgba(255, 255, 255, 0.5)
    ),
    url("/assets/img/tennis-field.jpg") no-repeat center center / cover;
}

.player-infos :nth-child(1) {
  grid-row: 1/2;
  grid-column: 1/3;
}

.player-infos :nth-child(2) {
  grid-row: 2/3;
  grid-column: 1/2;
}

.player-infos :nth-child(3) {
  grid-row: 2/3;
  grid-column: 2/4;
}

.player-infos :nth-child(4) {
  grid-row: 1/2;
  grid-column: 3/4;
}

.player-infos :nth-child(5) {
  grid-row: 3/4;
  grid-column: 1/4;
}

.player-infos :nth-child(6) {
  grid-row: 4/5;
  grid-column: 1/4;
}

.player-infos :nth-child(7) {
  grid-row: 5/6;
  grid-column: 1/4;
}

@media only screen and (min-width: 400px) {
  .player-infos {
    grid-template-columns: 110px 40px 1fr 45px;
  }
  .player-infos :nth-child(1) {
    grid-row: 1/3;
    grid-column: 1/2;
  }

  .player-infos :nth-child(2) {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .player-infos :nth-child(3) {
    grid-row: 1/2;
    grid-column: 3/4;
  }

  .player-infos :nth-child(4) {
    grid-row: 1/2;
    grid-column: 4/5;
  }

  .player-infos :nth-child(5) {
    grid-row: 2/3;
    grid-column: 2/5;
  }

  .player-infos :nth-child(6) {
    grid-row: 3/4;
    grid-column: 1/5;
  }

  .player-infos :nth-child(7) {
    grid-row: 4/5;
    grid-column: 1/5;
  }
}
